<!doctype html>
<title>{% block title %}{% endblock %} - SenseData - Code Challenge</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('pages_routes.index') }}">SenseData - Code Challenge</a></h1>
  <ul>
    <li><a href="{{ url_for('pages_routes.healthcheck') }}">Healthcheck</a>
    <li><a href="{{ url_for('pages_routes.persons') }}">Persons</a>
    <li><a href="{{ url_for('pages_routes.starships') }}">Starships</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>