{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Healthcheck{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="content">
    No service is actually been checked, yet!
</div>
{% endblock %}