{% extends 'base.html' %}

{% block content %}
<h1>What is this app?</h1>
<div class="content">
    A Flask APP that returns information from the Star Wars franchise.
</div>
<h1>What can I do?</h1>
<div class="content">
    You can check information from <a href="{{ url_for('pages_routes.persons') }}">characters</a> and <a href="{{ url_for('pages_routes.starships') }}">starships</a>
</div>
{% endblock %}