{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Persons{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <div style="width: 75%;">
        <form method="post">
            <label for="sort_by">Sort options</label>
            {% for sort_option, sort_label in {"name": "Name", "gender": "Gender", "mass": "Weight", "height": "Height"}.items() %}
            <label for="{{ sort_option }}">
                {% if sort_by == sort_option %}
                <input type="radio" id="{{ sort_option }}" name="sort_by" value="{{ sort_option }}" checked>
                {% else %}
                <input type="radio" id="{{ sort_option }}" name="sort_by" value="{{ sort_option }}">
                {% endif %}
                {{ sort_label }}
            </label>
            {% endfor %}

            <br>

            <label for="sort_order">Sort order</label>
            {% for order_option, order_label in {"ASC": "Ascending", "DESC": "Descending"}.items() %}
            <label for="{{ order_option }}">
                {% if sort_order == order_option %}
                <input type="radio" id="{{ order_option }}" name="sort_order" value="{{ order_option }}" checked>
                {% else %}
                <input type="radio" id="{{ order_option }}" name="sort_order" value="{{ order_option }}">
                {% endif %}
                {{ order_label }}
            </label>
            {% endfor %}

            <br>

            <label for="filters">Filter options</label>

            <br>

            <label for="film">Film</label>
            <select id="film" name="film">
                {% if not selected_film %}
                <option value="" selected></option>
                {% else %}
                <option value=""></option>
                {% endif %}
                {% for film in films %}
                    {% if film["id"] == selected_film %}
                    <option value="{{ film['id'] }}" selected>{{ film["title"] }}</option>
                    {% else %}
                    <option value="{{ film['id'] }}">{{ film["title"] }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="starship">Starship</label>
            <select id="starship" name="starship">
                {% if not selected_starship %}
                <option value="" selected></option>
                {% else %}
                <option value=""></option>
                {% endif %}
                {% for starship in starships %}
                    {% if starship["id"] == selected_starship %}
                    <option value="{{ starship['id'] }}" selected>{{ starship["name"] }}</option>
                    {% else %}
                    <option value="{{ starship['id'] }}">{{ starship["name"] }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <br>

            <label for="vehicle">Vehicle</label>
            <select id="vehicle" name="vehicle">
                {% if not selected_vehicle %}
                <option value="" selected></option>
                {% else %}
                <option value=""></option>
                {% endif %}
                {% for vehicle in vehicles %}
                    {% if vehicle["id"] == selected_vehicle %}
                    <option value="{{ vehicle['id'] }}" selected>{{ vehicle["name"] }}</option>
                    {% else %}
                    <option value="{{ vehicle['id'] }}">{{ vehicle["name"] }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="planet">Planet</label>
            <select id="planet" name="planet">
                {% if not selected_planet %}
                <option value="" selected></option>
                {% else %}
                <option value=""></option>
                {% endif %}
                {% for planet in planets %}
                    {% if planet["id"] == selected_planet %}
                    <option value="{{ planet['id'] }}" selected>{{ planet["name"] }}</option>
                    {% else %}
                    <option value="{{ planet['id'] }}">{{ planet["name"] }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <br>

            {% if max_pages > 0 %}
            <label for="page">
                Which page?
                <input id="page" type="number" name="page" min="1" max="{{ max_pages }}" value="{{ current_page }}">
                / {{ max_pages }}
            </label>
            {% endif %}

            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<div style="overflow-x: scroll;">
  <table id="person">
      <thead>
          {% if persons %}
              <tr>
                 {% for key in persons[0] %}
                     <th> {{ key }} </th>
                 {% endfor %}
              </tr>
          {% endif %}
      </thead>

      <tbody>
          {% for person in persons %}
          <tr>
             {% for value in person.values() %}
             <td> {{ value }} </td>
             {% endfor %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}