{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Starships{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="overflow-x: scroll;">
    <table id="starship">
      <thead>
          {% if starships %}
              <tr>
                 {% for key in starships[0] %}
                 <th> {{ key }} </th>
                 {% endfor %}
              </tr>
          {% endif %}
      </thead>

      <tbody>
          {% for starship in starships %}
          <tr>
             {% for value in starship.values() %}
             <td> {{ value }} </td>
             {% endfor %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}